.pagination{
  display: flex;
  gap: 8px;
  justify-content: center;

  &__item{
    border-radius: 20px;
    background: rgba(255,255,255,0.4);
    flex-shrink: 1;
    width: 88px;
    height:2px;
  }
}

